img{
    height: 150px;
    width: 150px;
}

.product-container{
    background-color: aquamarine;
    width: 400px;
    height: auto;
   
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}